<div class="page-header">
    <h2>My projects</h2>
</div>
<div class="jumbotron container">
    <table class="table">
        <thead>
        <tr>
            <th>Project name</th>
            <th>View project</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in myProjects">
            <td>{{project.Name}}</td>
            <td><a href="#projects/{{project.Id}}" class="btn btn-default" role="button">View</a></td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="myTotalProjects" ng-model="myProjectsParams.pageNumber"
                items-per-page="myProjectsParams.pageSize" ng-change="getMyProjects()"
                max-size="9" boundary-links="true" class="aligner">
    </pagination>
</div>