.border {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

body {
    background-color: #9acfea;
}

.navbar {
    border-radius: 0;
}

.project {
    padding: 1px;
}

.key {
    font-size: 25px;
}

.status, .comments {
    list-style-type: none;
}

.paging {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #0f0f0f;
    height: 5%;
    padding-top: 5px;
}

.softuni-link {
    color: #aaaaaa;
}